<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>My events</title>
    <!-- Firebase scripts -->
    <%- include('head-include') %>
    
</head>
<body>

    

    <%- include('navbar-include') %>
    <div class="main-content">
            
        <h1>Leaderboards</h1>
        <div class="scorecard-wrapper">

            <h2>Stableford</h2>
            <iframe style="border-radius:10px; background-color:rgb(205, 205, 205);" frameBorder="0" scrolling="no" width="100%" height="100%" src="https://docs.google.com/spreadsheets/d/1yASnERParrv8kuB2G3Eqoys1G7Ycf4QT_pIDwExhgZI/pubhtml?single=true&amp;gid=1307724763&amp;single=true&amp;widget=false&amp;headers=false&amp;chrome=FALSE"></iframe>
            <h2>Jim's Fantasy Golf</h2>
            <iframe style="border-radius:10px; background-color:rgb(205, 205, 205);" frameBorder="0" scrolling="no" width="100%" height="100%" src="https://docs.google.com/spreadsheets/d/1yASnERParrv8kuB2G3Eqoys1G7Ycf4QT_pIDwExhgZI/pubhtml?single=true&amp;gid=1032714898&amp;single=true&amp;widget=false&amp;headers=false&amp;chrome=FALSE"></iframe>
            <h2>Par 3</h2>
            <iframe frameBorder="0" scrolling="no" width="100%" height="100%" src="https://docs.google.com/spreadsheets/d/1yASnERParrv8kuB2G3Eqoys1G7Ycf4QT_pIDwExhgZI/pubhtml?single=true&amp;gid=671943061&amp;single=true&amp;widget=false&amp;headers=false&amp;chrome=FALSE"></iframe>
        </div>
    
        
            
        
    </div>

</body>
</html>
