<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <%- include('head-include') %><!-- Firebase scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/7.2.3/css/flag-icons.min.css" integrity="sha512-bZBu2H0+FGFz/stDN/L0k8J0G8qVsAL0ht1qg5kTwtAheiXwiRKyCq1frwfbSFSJN3jooR5kauE0YjtPzhZtJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
</head>
<body>

    

    <div class="main-content margin-top">

    
    

    
    <div id="recaptcha-container">

    </div>
    <!-- Form to input phone number -->
    
    <form id="phone-form">
        <p>Welcome, human. This message doesn't really server a purpose for now.<br>Put in your phone number and we'll text you an access code.
        </p>
        <p id="phone-form-message" class="" style="">E.g. 07821169566</p>
        <p id="phone-form-error" class="error" style="display:none;">Error message content</p>
        <div class="phone-input-container">
            <div class="region-dropdown">
                <select id="region-select">
                    <option class="fi-us" value="+44" data-flag="uk" selected>🇬🇧 +44</option>
                    <option value="+1" data-flag="usa">🇺🇸 +1</option>
                </select>
                <input type="number" id="phone-number" placeholder="Enter phone number">
            </div>
            
        </div>
        
        
        <button id="phone-auth-submit" type="button"">Send Verification Code </button>
    </form>
    <!-- Form to input verification code -->

    <div id="verification-code-form" style="display:none;">
        <p>Enter the code that's just been sent to <span id="otp-phone"></span></p>
        <input type="text" id="verification-code" placeholder="">
        <button id="otp-auth" type="button">Verify Code</button>
    </div>
</div>

    <script type="module">

    
        
        import { initializeRecaptcha } from '/scripts/auth.js';

        document.getElementById('phone-auth-submit').addEventListener('click', () => {
            
            //disable submit button
            const phoneSubmitButton = document.getElementById('phone-auth-submit');
            phoneSubmitButton.classList.add('disabled','loading');
            phoneSubmitButton.textContent = 'Sending code';
            
            const phone = document.getElementById('phone-number').value;
            
            /*
            if (phone.length < 10|phone.length > 10) {
                document.getElementById('phone-form-error').innerHTML = "looks bad";
                document.getElementById('phone-form-error').style.display = 'block';
                console.log("phone looks bad");
            } else {
                console.log("phone number is>>>>>>>>>>>>", phone.length);
                console.log("+44" + phone.split("0")[1]);
                initializeRecaptcha();
            }
            */
            initializeRecaptcha();
            
        });

        import { verifyCode } from '/scripts/auth.js';

        document.getElementById('otp-auth').addEventListener('click', () => {
            console.log("clicked to validate OTP");
            verifyCode();
        });

       


    </script>
    


</body>
</html>
