<nav class="navbar">
    <a href="/user" style="text-decoration: none!important;color:white!important">
        <div class="navbar-brand left-item">
            
            
            <span>👺</span>
        </div>
    </a>
    <div class="right-items">
        <a>
        <div id="snowflake" class="snowflake">❄️</div>
        </a>
        <div class="hide burger-menu" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</nav>

<div class="side-menu" id="sideMenu">
    <a href="/user?allowedit=true">Your Details</a>
    <a href="/info">CREATE YOUR OWN</a>
    <div class="close-menu" onclick="closeMenu()">Close</div>
</div>

<script>
    function toggleMenu() {
        const menu = document.getElementById('sideMenu');
        menu.style.width = menu.style.width === '250px' ? '0' : '250px';
    }

    function closeMenu() {
        const menu = document.getElementById('sideMenu');
        menu.style.width = '0';
    }
</script>

<style>
    
</style>
