<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <%- include('head-include') %><!-- Firebase scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/7.2.3/css/flag-icons.min.css" integrity="sha512-bZBu2H0+FGFz/stDN/L0k8J0G8qVsAL0ht1qg5kTwtAheiXwiRKyCq1frwfbSFSJN3jooR5kauE0YjtPzhZtJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
</head>
<body>

<h1>notifications</h1>
<script type="module" src="/scripts/notifications.js"></script>

</body>
</html>
