<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <%- include('head-include') %><!-- Firebase scripts -->
    <style>
        /* Basic toaster styling */
        #toaster {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        /* Show the toaster */
        #toaster.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;} 
            to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;} 
            to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }
    </style>
</head>
<body>
    <%- include('navbar-include') %>

    <div class="main-content">
        <div id="recaptcha-container"></div>

        <!-- Form to input name -->
        <form id="phone-form">
            <p>Your customer welcome message</p>
            <p id="name-form-error" class="error" style="display:none;">Please enter your name.</p>
            <input type="text" id="name-input" value="<%= userName %>">
            <button id="phone-auth-submit" type="button">Save name 🏌️</button>
        </form>
    </div>

    <!-- Toaster for success message -->
    <div id="toaster">Name saved successfully! Redirecting in <span id="countdown">3</span> seconds...</div>

    <!-- JavaScript to handle form submission and cookie logic -->
    <script type="module" src="/scripts/update-user.js"></script>
</body>
</html>
