@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');


body {
    background:#f8f8f8;
    margin:0px;
    font-family: "Montserrat", sans-serif!important;
}

#navbar {
    margin-bottom:10px;
}

.hide {
    display:none;
}

.main-content {
    width:100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
}

#name-input, #phone-auth-submit {
    width:100%;
    height:80px !important;
    text-align: center;
    font-size: 1.2rem;
    font-weight:bold;
    padding: 0.5rem;
    border-radius: 6px!important; 
    box-sizing: border-box;
    margin-bottom: 10px;
    border:none;
    color:#333333;
}

button {
    border:solid 2px #333333;
    color:#333333;
}


h1 {
    font-size:1.8rem;
    font-family: "Rowdies", sans-serif!important;
    color:#333333;
}
h2 {
    text-align: center;
    font-size:1.4rem!important;
    font-family: "Rowdies", sans-serif!important;
    color:#958e8f!important;
}

.navbar-brand {
    font-size:1.2rem;
    font-family: "Rowdies", sans-serif;
}

.full-pg-msg {
    height:100%;
    width:100%;
    background-color: orange;
    font-size:4rem;
    font-family: "Rowdies", sans-serif;
}

.error {
    padding: 6px;
    color:#a84f4f;
}

.event-links {
    list-style-type: none;
    padding-left:0px;
    width:100%;
}

.event-link {
    background-color: white;
    border-radius: 6px;
    padding:16px;
    margin-bottom:5px;
    text-decoration: none!important;
    color:#333333;
}

.event-logo {
    width:40%;
    height:auto;
}

a {
    text-decoration: none!important;
    color:#333333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f0767;
    color: white;
    padding: 10px 20px;
    z-index: 1000;
}
.navbar-brand {
    font-size: 24px;
}
.burger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bar {
    width: 30px;
    height: 3px;
    background-color: white;
}
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.side-menu a, .side-menu .close-menu {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
}
.side-menu a:hover, .side-menu .close-menu:hover {
    color: #f1f1f1;
}
.close-menu {
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.phone-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
}
.phone-input-container span {
    color: #333;
}
.phone-input-container input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding-left: 5px;
}

.scorecard-wrapper {
    margin-top:20px;
    margin-bottom:40px;
    width:100%;
    height:560px!important;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {

    display: none;
    
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    
    body {
    
    -ms-overflow-style: none; /* IE and Edge */
    
    scrollbar-width: none; /* Firefox */
    
    }





.main-content-bob {
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    


}


 
.bob-chat {

    background-color: #f1e6e6;
    width: 100%;
    height:100%;
    
    background-size:cover;
    background-position: center center;
}

.askbob-stream {
    height:80%;
    width:100%;
    position: relative;
    top:0;
    padding:10px;
}

#ask-bob-form {
    height:auto;
    width:100%;
    position: fixed;
    bottom:0;
    padding:10px;
    background-color: #b9aaaa80;
}




.message, .response {
    width:80%;
    background-color: white;
    border-radius: 60px;
    border-radius: 16px;
    padding: 20px;
    margin-bottom:10px;
    font-size:14px;
    display: inline-block;
}

.message-content {
    background-color: none;
    font-weight: normal;
    font-size: 1rem;
}

.message-sender {
    color:#428d97;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.message-time, .message-sender-id {
    text-align: right;
    margin-bottom: 0px;
    display: none;
}


.thinking {
    background-color: #fff;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes color {
    0% {
      background-color: #ffffff;
    }
    50% {
      background-color: #7e96b8;
    }
    100 {
      background-color: #ffffff;
    }
  }

.message-right {
    
    width:80%;
    float:right;
    background-color: #c6def7;
}

.typing-center, .thinking-center {
    width:100%;
    text-align: center;
    color:blue;
    background-color: transparent!important;
    padding:2px;
    font-size: 0.8rem;
    font-weight: bold;

}

.dummy-hide {
    display: none;
}

.dots {
    display: inline-block;
    width: 20px;
    text-align: left;
  }
  
  .dots::after {
    content: '.';
    animation: dots 1.5s steps(5, end) infinite;
  }
  
  @keyframes dots {
    0%, 20% {
      content: '';
    }
    40% {
      content: '.';
    }
    60% {
      content: '..';
    }
    80%, 100% {
      content: '...';
    }
  }
  
.sending-format {
    font-weight: normal;
    color:#858585;
}

.participants-icon {
    
}

.main-content-bob {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure the main content takes up the full viewport height */
    overflow: hidden;
}



.chat-wrapper {
    height: 100%; /* Set a fixed height */
    padding-bottom: 320px !important;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-bottom: 300px;
    width: 100%;
    
    
    padding:10px;
    position: absolute;
    top: 0;
    padding-top:65px;
}



#ask-bob-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
    height: 80px; /* Set the height of the form container */
}

#message {
    flex: 1; /* Allow the input to take up equal space with the button */
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    
    text-align: left;
    font-size: 14px;
    box-sizing: border-box; /* Ensures padding is included in the element's height */
    height: 60px;
    border: solid 4px white; /* Set height as a percentage of the parent container */
}

#ask-bob-button {
    position:absolute;
    right:10px; /* Allow the button to take up equal space with the input */
    background-color: white!important;
    
    border: none;
    border-radius: 0 6px 6px 0;
    
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
   
    font-size: 38px;
    font-weight: bold;
    box-sizing: border-box; /* Ensures padding is included in the element's height */
    height: 60px; /* Set height as a percentage of the parent container */
}

.menu-right {
    margin-left: auto;
    margin-right: 15px;
}
.quick-bob {
    line-height: 12px;
    text-align: center;
    font-size: 13px;
    transform: rotate(-9deg);
    font-weight: bold;
    color:red;
}


#toaster {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toaster.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* Chats list styling */
.chats-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-item:hover {
    background-color: #f5f5f5;
}

.chat-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 25px;
}

.chat-name {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.chat-status {
    text-align:left;
}

.chat-logo {
    background-size: cover;
    background-position: center center;
}


